{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">      
      <p class="title">There are no tasks here, kindly add  <a href="#" class="js-modal-trigger" data-target="modal-js-example">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
      </p>
  </div>

  <br/>


  <!--Display item cards -->
  <div class="card">
    <div class="card-content">
      <p class="title">
        “There are two hard things in computer science: cache invalidation.”
      </p>
      <p class="subtitle"><b>Category</b></p>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href="#" class="card-footer-item"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      <a href="#" class="card-footer-item"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </footer>
  </div>
  <!--End of item cards -->


</section>
{% endblock %}